# Clock
set_io ref_clk_i 20

# Syncs
set_io hsync_o 25
set_io vsync_o 23

# RGB outputs (2 bits per color)
set_io rgb_o[5] 37
set_io rgb_o[4] 31
set_io rgb_o[3] 35
set_io rgb_o[2] 32
set_io rgb_o[1] 27
set_io rgb_o[0] 26

# PLL debug (optional)
set_io pll 2

# Drum hit inputs
set_io kick_hit_i 21
set_io snare_hit_i 34
set_io hat_hit_i 36
